@{
    ViewBag.Title = "Sobre";
}
<h3>@ViewBag.Message</h3>

<div class="display-flex ph5 pv3">
    <div class="
      display-flex full-width">
  <div class="pv-shared-text-with-see-more t-14 t-normal t-black display-flex align-items-center">
    <div class="inline-show-more-text
    inline-show-more-text--is-collapsed
    " style="line-height:1.9rem;max-height:7.6rem;">

        <span aria-hidden="true">
            <!---->Desenvolvedor .Net aspirante, apaixonadíssimo por tecnologia e em constante desenvolvimento de minhas habilidades,<!---->
            <br>
            <!---->Com projetos publicados utilizando: EntityFramework, Microsoft SqlServer, RazorPages MVC com Html, Css e Javascript e consumo e manipulação de API's REST.<!---->
        </span>
    </div>
  </div>
  </div>
</div>
